*.iml
.gradle
/local.properties
/fastspeech2/output
/fastspeech2/hifigan/generator_LJSpeech.pth.tar
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
